body {
    font-family: Arial;
    text-align: center;
    background-color: #deffe6;
    width: 100%;
    margin: 0;
}

header {
    width: 100%;
    background-color: #18612a;
    justify-content: center;
}

h1 {
    font-size: 250%;
    text-align: center;
    color: #1c993d;
    display: inline;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    line-height: 150%;
}

h2 {
    font-size: 150%;
    text-align: center;
    color: white;
    display: block;
}

p {
    color: #26c750;
    width: 50%;
    margin: 20px auto;
    font-size: 125%;
}

button {
    background-color: #188033;
    border: solid 2px white;
    color: white;
    font-size: 125%;
    outline: solid 2px #188033;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #26c750;
}

#scores {
    display: inline;
    margin: 0;   
}

ul {
    list-style-type: none;
    font-weight: bold;
    color: #18612a;
    padding: 0;
}
